<div class="row no-gutters ng-scope">
        <div class="col-md-7">
            <div class="card-body">
                <h6 style="cursor: pointer;"
                    ng-click="vm.goto('https://gemsedu.sharepoint.com/sites/Edupedia/Pages/Topic-Details.aspx?id='+topic.ID)"
                    class="card-title text-semibold mb-1 ng-binding">{{topic.title}}</h6>
                <!-- <h6 class="small text-semibold text-black-50">Antineutron</h6>
            <p class="card-text text-truncate text-dark m-0">British. Grade 4. </p> -->
                <div class="spinner-border text-muted spinner-margin avgstarrelated-spinner_347" style="display: none;">
                </div>
                <div style="padding-top: .5em" class="topic-ratings d-flex align-items-center ng-clock">
                    <div id="relatedrating_347" class="star-ratings-readonly relatedrating_347">
                        <app-star-rating [readonly]="true" [initialStars]="topic.numberOfRatings"></app-star-rating>
                        <small class="mt-1 ml-2 text-medium"> ({{topic.numberOfRatings}})
                        </small>
                    </div> 
                </div>
                <p style="padding-top: 1em" class="card-text"><small class="text-black-50">By : <span
                            class="ng-binding">{{topic.contributorFullName}}</span>
                    </small></p>
            </div>
        </div>
        <div class="col-md-5">
            <a href="https://gemsedu.sharepoint.com/sites/Edupedia/Pages/Topic-Details.aspx?id=347"
                class="d-flex h-100 justify-content-center">
                <img style="cursor: pointer;"
                    ng-click="vm.goto('https://gemsedu.sharepoint.com/sites/Edupedia/Pages/Topic-Details.aspx?id='+topic.ID)"
                    ng-src="https:emsedu.sharepoint.com/sites/Edupedia/SharedDocRepo/2021143820153_BannerImage.png//g"
                    class="img-fluid" alt=""
                    src="{{topic.bannerImageUrl}}"
                    data-themekey="#">
                <i class="fas fa-2x position-absolute"></i>
            </a>
            <span class="topic-level position-absolute badge badge-warning px-2 ng-binding"
                ng-bind="topic.TopicLevel">{{topic.level}}</span>
        </div>
    </div>
