.topic-tag {
    background: #F4F4F4;
    font-size: 0.875rem;
    color: #444;
    border-radius:20px;
    text-decoration: none;
    font-weight:500;
}
.topic-tag:hover {
    background: #0056b3;
    font-size: 0.875rem;
    color: #fff;
    border-radius:20px;
    text-decoration: none;
    font-weight:500;
}