<section class="section-padding section-with-bg explore-topic-section overflow-hidden topic-section">
    <h1 class="page-heading text-center text-semibold">Latest topics</h1>
    <div class="container-fluid p-0">
        <div class="row LatestPreloder">
            <div class="item col-lg-4 col-md-4 col-12">
                <div class="card topic-card  overflow-hidden">
                    
                    <div class="view overlay">
                       
                            <a class="h-100 w-100" href="https://gemsedu.sharepoint.com/sites/Edupedia/Pages/Topic-Details.aspx?id=376">
                                <img src="https://gemsedu.sharepoint.com//sites/Edupedia/SharedDocRepo/2021243955416_BannerImage.png?RenditionID=5" alt="">
                            </a>
                        
                    </div>

                    <div class="card-body position-relative pb-2 pt-4">

                    </div>
                    <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                    </div>
                    <div class="slider-overlay position-absolute pt-5">
                        <div class="spinner"></div>
                    </div>
                </div>
            </div>
            <div class="item col-lg-4 col-md-4 col-12">
                <div class="card topic-card  overflow-hidden">
                    <div class="view overlay">

                    </div>

                    <div class="card-body position-relative pb-2 pt-4">

                    </div>
                    <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                    </div>
                    <div class="slider-overlay position-absolute pt-5">
                        <div class="spinner"></div>
                    </div>
                </div>
            </div>
            <div class="item col-lg-4 col-md-4 col-12">
                <div class="card topic-card  overflow-hidden">
                    <div class="view overlay">

                    </div>

                    <div class="card-body position-relative pb-2 pt-4">

                    </div>
                    <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                    </div>
                    <div class="slider-overlay position-absolute pt-5">
                        <div class="spinner"></div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row Latestloaded">
            <div class="col-12 ng-cloak">
                <div id="Visited-offWhite-background" class="owl-carousel owl-theme topic-carousel">
                    <!-- card 1 -->
                    <div 
                        class="card topic-card overflow-hidden ng-scope">
                        <div class="view overlay ">
                            <a class="h-100 w-100"
                                href="https://gemsedu.sharepoint.com/sites/Edupedia/Pages/Topic-Details.aspx?id=376"><img
                                    class="card-img-top"
                                    ng-src="https://gemsedu.sharepoint.com//sites/Edupedia/SharedDocRepo/2021243955416_BannerImage.png?RenditionID=5"
                                    alt="Card image cap"
                                    src="https://gemsedu.sharepoint.com//sites/Edupedia/SharedDocRepo/2021243955416_BannerImage.png?RenditionID=5"
                                    data-themekey="#"></a>
                            <a href="https://gemsedu.sharepoint.com/sites/Edupedia/Pages/Topic-Details.aspx?id=376"
                                class="trigger-info">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                            <span class="topic-level position-absolute badge badge-warning px-2 ng-binding"
                                ng-bind="topic.TopicLevel">Intermediate</span>
                        </div>

                        <div class="card-body position-relative pb-2 pt-4 ng-scope">
                            <span class="subject-icon position-absolute">
                                <img ng-show="topic.Topic_Subjects.length>0" width="25" height="25"
                                    class="position-relative" style="width: 25px!important; height: 25px!important;"
                                    ng-src="https://gemsedu.sharepoint.com/sites/Edupedia/Style%20Library/Assets/Edupedia.SP/img/icons/subjects/History.png?RenditionID=1"
                                    src="https://gemsedu.sharepoint.com/sites/Edupedia/Style%20Library/Assets/Edupedia.SP/img/icons/subjects/History.png?RenditionID=1"
                                    data-themekey="#">

                            </span>
                            <a href="https://gemsedu.sharepoint.com/sites/Edupedia/Pages/Topic-Details.aspx?id=376">
                                <h6 class="m-0 text-semibold text-truncate ng-binding">19th Century American Expansion
                                </h6>
                            </a>
                            <div style="max-height: 8rem;" class="details overflow-auto mb-3 mt-2">

                                <div class="topic-ratings d-flex align-items-center">
                                    <div id="rating_376" class="star-ratings-readonly rating_376">
                                        <div class="jq-star" style="width:15px;  height:15px;"><svg version="1.0"
                                                class="jq-star-svg" shape-rendering="geometricPrecision"
                                                xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="305px"
                                                height="305px" viewBox="60 -62 309 309"
                                                style="enable-background:new 64 -59 305 305; stroke-width:4px;"
                                                xml:space="preserve">
                                                <style type="text/css">
                                                    .svg-empty-312 {
                                                        fill: url(#312_SVGID_1_);
                                                    }

                                                    .svg-hovered-312 {
                                                        fill: url(#312_SVGID_2_);
                                                    }

                                                    .svg-active-312 {
                                                        fill: url(#312_SVGID_3_);
                                                    }

                                                    .svg-rated-312 {
                                                        fill: #e88120;
                                                    }
                                                </style>
                                                <linearGradient id="312_SVGID_1_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:lightgray"></stop>
                                                    <stop offset="1" style="stop-color:lightgray"></stop>
                                                </linearGradient>
                                                <linearGradient id="312_SVGID_2_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:orange"></stop>
                                                    <stop offset="1" style="stop-color:orange"></stop>
                                                </linearGradient>
                                                <linearGradient id="312_SVGID_3_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:#e88120"></stop>
                                                    <stop offset="1" style="stop-color:#e88120"></stop>
                                                </linearGradient>
                                                <polygon data-side="center" class="svg-empty-312"
                                                    points="281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 212.9,181.1 213.9,181 306.5,241 "
                                                    style="fill: transparent; stroke: black;"></polygon>
                                                <polygon data-side="left" class="svg-active-312"
                                                    points="281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 213.9,181.1 213.9,181 306.5,241 "
                                                    style="stroke-opacity: 0;"></polygon>
                                                <polygon data-side="right" class="svg-active-312"
                                                    points="364,55.7 255.5,46.8 214,-59 213.9,181 306.5,241 281.1,129.8 "
                                                    style="stroke-opacity: 0;"></polygon>
                                            </svg></div>
                                        <div class="jq-star" style="width:15px;  height:15px;"><svg version="1.0"
                                                class="jq-star-svg" shape-rendering="geometricPrecision"
                                                xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="305px"
                                                height="305px" viewBox="60 -62 309 309"
                                                style="enable-background:new 64 -59 305 305; stroke-width:4px;"
                                                xml:space="preserve">
                                                <style type="text/css">
                                                    .svg-empty-312 {
                                                        fill: url(#312_SVGID_1_);
                                                    }

                                                    .svg-hovered-312 {
                                                        fill: url(#312_SVGID_2_);
                                                    }

                                                    .svg-active-312 {
                                                        fill: url(#312_SVGID_3_);
                                                    }

                                                    .svg-rated-312 {
                                                        fill: #e88120;
                                                    }
                                                </style>
                                                <linearGradient id="312_SVGID_1_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:lightgray"></stop>
                                                    <stop offset="1" style="stop-color:lightgray"></stop>
                                                </linearGradient>
                                                <linearGradient id="312_SVGID_2_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:orange"></stop>
                                                    <stop offset="1" style="stop-color:orange"></stop>
                                                </linearGradient>
                                                <linearGradient id="312_SVGID_3_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:#e88120"></stop>
                                                    <stop offset="1" style="stop-color:#e88120"></stop>
                                                </linearGradient>
                                                <polygon data-side="center" class="svg-empty-312"
                                                    points="281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 212.9,181.1 213.9,181 306.5,241 "
                                                    style="fill: transparent; stroke: black;"></polygon>
                                                <polygon data-side="left" class="svg-active-312"
                                                    points="281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 213.9,181.1 213.9,181 306.5,241 "
                                                    style="stroke-opacity: 0;"></polygon>
                                                <polygon data-side="right" class="svg-active-312"
                                                    points="364,55.7 255.5,46.8 214,-59 213.9,181 306.5,241 281.1,129.8 "
                                                    style="stroke-opacity: 0;"></polygon>
                                            </svg></div>
                                        <div class="jq-star" style="width:15px;  height:15px;"><svg version="1.0"
                                                class="jq-star-svg" shape-rendering="geometricPrecision"
                                                xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="305px"
                                                height="305px" viewBox="60 -62 309 309"
                                                style="enable-background:new 64 -59 305 305; stroke-width:4px;"
                                                xml:space="preserve">
                                                <style type="text/css">
                                                    .svg-empty-312 {
                                                        fill: url(#312_SVGID_1_);
                                                    }

                                                    .svg-hovered-312 {
                                                        fill: url(#312_SVGID_2_);
                                                    }

                                                    .svg-active-312 {
                                                        fill: url(#312_SVGID_3_);
                                                    }

                                                    .svg-rated-312 {
                                                        fill: #e88120;
                                                    }
                                                </style>
                                                <linearGradient id="312_SVGID_1_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:lightgray"></stop>
                                                    <stop offset="1" style="stop-color:lightgray"></stop>
                                                </linearGradient>
                                                <linearGradient id="312_SVGID_2_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:orange"></stop>
                                                    <stop offset="1" style="stop-color:orange"></stop>
                                                </linearGradient>
                                                <linearGradient id="312_SVGID_3_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:#e88120"></stop>
                                                    <stop offset="1" style="stop-color:#e88120"></stop>
                                                </linearGradient>
                                                <polygon data-side="center" class="svg-empty-312"
                                                    points="281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 212.9,181.1 213.9,181 306.5,241 "
                                                    style="fill: transparent; stroke: black;"></polygon>
                                                <polygon data-side="left" class="svg-active-312"
                                                    points="281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 213.9,181.1 213.9,181 306.5,241 "
                                                    style="stroke-opacity: 0;"></polygon>
                                                <polygon data-side="right" class="svg-active-312"
                                                    points="364,55.7 255.5,46.8 214,-59 213.9,181 306.5,241 281.1,129.8 "
                                                    style="stroke-opacity: 0;"></polygon>
                                            </svg></div>
                                        <div class="jq-star" style="width:15px;  height:15px;"><svg version="1.0"
                                                class="jq-star-svg" shape-rendering="geometricPrecision"
                                                xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="305px"
                                                height="305px" viewBox="60 -62 309 309"
                                                style="enable-background:new 64 -59 305 305; stroke-width:4px;"
                                                xml:space="preserve">
                                                <style type="text/css">
                                                    .svg-empty-312 {
                                                        fill: url(#312_SVGID_1_);
                                                    }

                                                    .svg-hovered-312 {
                                                        fill: url(#312_SVGID_2_);
                                                    }

                                                    .svg-active-312 {
                                                        fill: url(#312_SVGID_3_);
                                                    }

                                                    .svg-rated-312 {
                                                        fill: #e88120;
                                                    }
                                                </style>
                                                <linearGradient id="312_SVGID_1_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:lightgray"></stop>
                                                    <stop offset="1" style="stop-color:lightgray"></stop>
                                                </linearGradient>
                                                <linearGradient id="312_SVGID_2_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:orange"></stop>
                                                    <stop offset="1" style="stop-color:orange"></stop>
                                                </linearGradient>
                                                <linearGradient id="312_SVGID_3_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:#e88120"></stop>
                                                    <stop offset="1" style="stop-color:#e88120"></stop>
                                                </linearGradient>
                                                <polygon data-side="center" class="svg-empty-312"
                                                    points="281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 212.9,181.1 213.9,181 306.5,241 "
                                                    style="fill: transparent; stroke: black;"></polygon>
                                                <polygon data-side="left" class="svg-empty-312"
                                                    points="281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 213.9,181.1 213.9,181 306.5,241 "
                                                    style="stroke-opacity: 0;"></polygon>
                                                <polygon data-side="right" class="svg-empty-312"
                                                    points="364,55.7 255.5,46.8 214,-59 213.9,181 306.5,241 281.1,129.8 "
                                                    style="stroke-opacity: 0;"></polygon>
                                            </svg></div>
                                        <div class="jq-star" style="width:15px;  height:15px;"><svg version="1.0"
                                                class="jq-star-svg" shape-rendering="geometricPrecision"
                                                xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="305px"
                                                height="305px" viewBox="60 -62 309 309"
                                                style="enable-background:new 64 -59 305 305; stroke-width:4px;"
                                                xml:space="preserve">
                                                <style type="text/css">
                                                    .svg-empty-312 {
                                                        fill: url(#312_SVGID_1_);
                                                    }

                                                    .svg-hovered-312 {
                                                        fill: url(#312_SVGID_2_);
                                                    }

                                                    .svg-active-312 {
                                                        fill: url(#312_SVGID_3_);
                                                    }

                                                    .svg-rated-312 {
                                                        fill: #e88120;
                                                    }
                                                </style>
                                                <linearGradient id="312_SVGID_1_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:lightgray"></stop>
                                                    <stop offset="1" style="stop-color:lightgray"></stop>
                                                </linearGradient>
                                                <linearGradient id="312_SVGID_2_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:orange"></stop>
                                                    <stop offset="1" style="stop-color:orange"></stop>
                                                </linearGradient>
                                                <linearGradient id="312_SVGID_3_" gradientUnits="userSpaceOnUse" x1="0"
                                                    y1="-50" x2="0" y2="250">
                                                    <stop offset="0" style="stop-color:#e88120"></stop>
                                                    <stop offset="1" style="stop-color:#e88120"></stop>
                                                </linearGradient>
                                                <polygon data-side="center" class="svg-empty-312"
                                                    points="281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 212.9,181.1 213.9,181 306.5,241 "
                                                    style="fill: transparent; stroke: black;"></polygon>
                                                <polygon data-side="left" class="svg-empty-312"
                                                    points="281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 213.9,181.1 213.9,181 306.5,241 "
                                                    style="stroke-opacity: 0;"></polygon>
                                                <polygon data-side="right" class="svg-empty-312"
                                                    points="364,55.7 255.5,46.8 214,-59 213.9,181 306.5,241 281.1,129.8 "
                                                    style="stroke-opacity: 0;"></polygon>
                                            </svg></div>
                                    </div> <small id="ratingcount_376" class="mt-1 ml-2 text-medium ratingcount_376">
                                        (1)</small>
                                </div>
                                <a><span class="small text-black-50 mb-2 d-block edu-link ng-binding"
                                        style="cursor: pointer;color: #007bff!important;"
                                        ng-click="vm.viewProfile(topic.Author)">By : Christopher Hagen</span></a>

                                <span class="small text-primary d-block ng-binding">Programs</span>
                                <p class="font-small tex-medium mb-2 ng-binding" ng-bind="vm.getCurriculumsText(topic)">
                                    GCSE, IGCSE, American, IB DP, AP</p>

                                <span class="small text-primary d-block ng-binding">Grades</span>
                                <p class="font-small tex-medium mb-2 ng-binding" ng-bind="vm.getGradesText(topic)">
                                    Grade-10, Grade-11</p>

                                <span class="small text-primary d-block">Category</span>
                                <p class="font-small tex-medium mb-2 ng-binding"
                                    ng-bind="topic.Topic_Subjects[0].Title">History</p>

                                <span class="small text-primary d-block ng-binding">Courses</span>
                                <p class="font-small tex-medium mb-2 ng-binding" ng-bind="vm.getCoursesText(topic)">
                                    Historical Studies: US History, History, US History</p>

                                <span class="small text-primary d-block">Description</span>
                                <p class="font-small tex-medium mb-2 line-clamp ng-binding"
                                    ng-bind="topic.Edupedia_Description">This lesson examines key 19th century American
                                    events - the 1820 Compromise, the Mexican-American War, the Mexican Cession, and the
                                    Oregon Compromise. The lesson challenges students to evaluate the significance of
                                    each event with relation to expansion of American slavery, the drive towards civil
                                    war, and the growth of America as a continental power.</p>
                            </div>
                        </div>

                        <div class="card-footer bg-white d-flex justify-content-between align-items-center ng-scope">
                            <div class="FooterLoader_376 footer-spinner-overlay" style="display: none;">
                                <div class="spinner-border text-muted spinner-margin"></div>
                            </div>
                            <a href="#">
                                <i class="fas fa-thumbs-up"></i>

                                <span class="like_376">0</span>
                            </a>
                            <a href="#">
                                <i class="icon-Dialogue"></i>
                                <span class="comment_376">0</span>
                            </a>
                            <a href="#">
                                <i class="fas fa-eye"></i>
                                <span class="view_376">60</span>
                            </a>
                        </div>
                    </div> 
                    <!-- card 1-->

                </div>
            </div>
        </div>
    </div>    
</section>