::ng-deep {
  .dataTables_wrapper .dataTables_paginate {
    & .paginate_button {
      border-radius: 0.25rem !important;
      height: 2rem;
      border: 0px !important;
      padding: 3px !important;
      &:hover {
        background: #004996 !important;
        color: white !important;
      }
    }
    & > span .paginate_button {
      width: 2rem;

      &:hover,
      &.current,
      &.current:hover {
        background: #004996 !important;
        color: white !important;
      }
    }
  }
}
