
<div class="container">
    <h1 class="page-heading">Programs</h1>

    <div *ngFor="let item of gradeList; let i = index" >  

        <p class="d-flex para-margin">

            <button class="btn btn-outline-primary btn-plus-coll" type="button" (click)="isCollapsed = !isCollapsed"
                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true"
                [attr.aria-controls]="'collapse' + i">
                <span class="accordian-plus">+</span>
            </button>
            <span>
                <h5><a class="accordian-header">{{item["Title"] }}</a></h5>
            </span>
        </p>
        <div [id]="'collapse' + i" class="accordion-collapse collapse show" [attr.aria-labelledby]="'heading' + i"
            data-bs-parent="#accordionContainer">
            <div class="'card' + i">
                <div  *ngFor="let grade of item.Grades">
                    <h5 class="'card-body' +i  grade-body" (click)="onClick()" id="bt">{{ grade.zghw }}</h5> 
                    <div [id]="'collapse' + i" class="accordion-collapse collapse show"
                        [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionContainer">
                        <div class="'card' + i" *ngIf="show">
                            <h5 class="card-body" *ngFor="let course of grade.Courses">
                              {{course.Title}}
                            </h5>
                        </div>
                 </div>
                </div>
            </div>
        </div>
    </div>
</div>