<div class="col-6 mx-auto m-4">
    <h2>Forget Password</h2>
    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">User Name</label>
            <input id="username" type="text" class="form-control" formControlName="userName" required />

            <div *ngIf="forgetForm.controls['userName'].invalid && forgetForm.controls['userName'].touched && forgetForm.controls['userName'].errors"
                class="error text-danger small">
                User Name is required.
            </div>
        </div>
        <div class="d-flex flex-font">
            <button class="btn btn-primary" type="submit" [disabled]="!forgetForm.valid">Submit</button>
            <div class="ml-auto">
                <a class="p-2" href="#" [routerLink]="['/',pageNames.LoginPage]">Login?</a>
            </div>
            <!-- <div class="ml-auto"> <a class="p-2" href="#" [routerLink]="['/teacher']">Create Teacher Account?</a>
            <a class=" " href="#" [routerLink]="['/registration']">Create your Account?</a></div> -->
        </div>
    </form>
</div>