<div class="container pt-4 pb-4">
    <h1 class="mb-4">Administration</h1>
    <div class="col-12">
        <div class="row mt-1">
            <div [routerLink]="['/',pagesLink.schoolManagement]" class="col-4 p-4 text-center bg-primary ">
                <h3 class="p-4 text-white">Schools</h3>
            </div>
            <div [routerLink]="['/',pagesLink.curriculumManagement]" class="col-4 p-4 text-center bg-primary ">
                <h3 class="p-4 text-white">Curriculum</h3>
            </div>
            <div [routerLink]="['/',pagesLink.gradeManagement]" class="col-4 p-4 text-center bg-primary ">
                <h3 class="p-4 text-white">Grades</h3>
            </div>
        </div>
        <div class="row mt-1">
            <div [routerLink]="['/',pagesLink.subjectManagement]" class="col-4 p-4 text-center bg-primary ">
                <h3 class="p-4 text-white">Subjects</h3>
            </div>
            <div [routerLink]="['/',pagesLink.courseManagement]" class="col-4 p-4 text-center bg-primary ">
                <h3 class="p-4 text-white">Courses</h3>
            </div>
            <div [routerLink]="['/',pagesLink.learningOutcomes]" class="col-4 p-4 text-center bg-primary ">
                <h3 class="p-4 text-white">Learning Outcomes</h3>
            </div>            
        </div>
        <div class="row mt-1">
            <div [routerLink]="['/',pagesLink.userManagement]" class="col-4 p-4 text-center bg-primary ">
                <h3 class="p-4 text-white">Users</h3>
            </div>
            <div [routerLink]="['/',pagesLink.curricluaApproverManagement]" class="col-4 p-4 text-center bg-primary ">
                <h3 class="p-4 text-white">Currilula Approvers</h3>
            </div>
            <div [routerLink]="['/',pagesLink.schoolApproverManagement]" class="col-4 p-4 text-center bg-primary ">
                <h3 class="p-4 text-white">School Approvers</h3>
            </div>           
        </div>
    </div>


</div>